/* ====================
    チャットページ全体
==================== */
.chat__container {
    display: flex;
    height: calc(100vh - 72px);
}

/* ====================
    サイドメニュー
==================== */
.side__container {
    width: 20%;
    background-color: #868686;
    text-align: center;
}

.side__container p {
    color: white;
    font-size: 2rem;
    text-align: center;
}

.side__container a {
    display: block;
    width: 250px;
    color: black;
    background-color: #eeefeb;
    font-size: 2rem;
    text-align: center;
    text-decoration: none;
    margin: 10px auto;
}

/* ====================
    メインチャット画面
==================== */
.main__container {
    width: 80%;
}

/* チャット相手情報 */
.chat-partner__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #5f5f5f;
    padding-inline: 50px;
    padding-bottom: 10px;
    margin-top: 10px;
}

.chat-partner__wrapper .info {
    display: flex;
    align-items: center;
}

.chat-partner__wrapper .info img {
    width: 80px;
    height: 80px;
    background-color: #d9d9d9;
    border-radius: 50%;
    object-fit: cover;
}

.chat-partner__wrapper .info p {
    font-size: 2rem;
    margin: 0 0 0 10px;
}

.chat-partner__wrapper .button a{
    text-decoration: none;
    color: white;
    background-color: #ff8282;
    border-radius: 30px;
    padding: 10px 20px;
}

/* 商品情報 */
.product__wrapper {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #5f5f5f;
    padding-inline: 50px;
    padding-bottom: 10px;
    margin-top: 10px;
}

.product__wrapper img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.product__wrapper .info {
    padding-left: 20px;
}

.product__wrapper .info .name {
    font-size: 3rem;
    margin: 0;
}

.product__wrapper .info .price {
    font-size: 2rem;
    margin: 0;
}

/* ====================
    チャットメッセージ
==================== */
.message-list__wrapper {
    overflow-y: scroll;
    padding: 0px 50px;
    margin: 10px 0;
    box-sizing: border-box;
}
.chat__image img{
    width: 200px;
    height: auto;
}

/* 受信メッセージ */
.receiver__wrapper .user-info {
    display: flex;
    align-items: center;
}
.receiver__wrapper{
    margin: 10px 0;
    box-sizing: border-box;
}
.receiver__wrapper .user-info img {
    width: 60px;
    height: 60px;
    background-color: #d9d9d9;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.receiver__wrapper .user-info p {
    margin: 0;
}
.receiver__wrapper .message {
    width: 600px;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: #d9d9d9;
    padding: 10px;
    margin-top: 5px;
}

/* 送信メッセージ */
.sender__wrapper .user-info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.sender__wrapper{
    margin: 10px 0;
    box-sizing: border-box;
}

.sender__wrapper .user-info p {
    margin: 0;
}

.sender__wrapper .user-info img {
    width: 60px;
    height: 60px;
    background-color: #d9d9d9;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 10px;
}

.sender__wrapper .message {
    display: block;
    width: 600px;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: #d9d9d9;
    padding: 10px;
    margin: 5px 0 0 auto;
}

.message-button{
    text-align: right;
    margin-top: 2px;
}
.message-button button{
    color: #868686;
    background-color: transparent;
    outline: none;
    border: 1px solid #fff;
}
.message-button button:hover {
    border: 1px solid #868686;
}

/* ====================
    メッセージ送信
==================== */
.message-send__wrapper form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 60px;
    margin: 20px 0;
    /* box-sizing: border-box; */
}

.message-send__wrapper form .message {
    width: 85%;
    padding: 5px;
}

.message-send__wrapper form button {
    background-color: transparent;
    border: none;
    outline: none;
    width: 4%;
    padding: 0;
}

.message-send__wrapper form button img {
    width: 100%;
    height: auto;
}

/* ファイル選択 */
.file__label {
    display: inline-block;
    text-align: center;
    background-color: white;
    color: red;
    cursor: pointer;
    border: 1px solid red;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0;
}

input[type="file"] {
    display: none;
}

/* ====================
    バリデーションエラー
==================== */
.form__error {
    color: red;
    padding-inline: 50px;
}

/* ====================
    モーダルウィンドウ
==================== */
.modal__container {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
    width: 700px;
    background-color: #fdfce6;
    visibility: hidden;
    opacity: 0;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.modal__container:target {
    visibility: visible;
    opacity: 1;
}

.modal__container h2 {
    text-align: left;
    border-bottom: 1px solid #000;
    padding: 20px;
    margin: 0;
}

.modal__container .evaluation {
    padding: 20px;
    border-bottom: 1px solid #000;
}

.modal__container .evaluation p {
    text-align: left;
}

/* 評価（星） */
.star-rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.star-rating input {
    display: none;
}

.star-rating label {
    font-size: 5rem;
    color: #ccc;
    cursor: pointer;
}

.star-rating input:checked~label,
.star-rating label:hover,
.star-rating label:hover~label {
    color: gold;
}

/* 評価送信ボタン */
.modal__container .button {
    text-align: right;
    padding: 20px;
}

.modal__container .button button {
    text-decoration: none;
    background-color: #ff8282;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

@media screen and (max-width: 1400px) {
    /* ====================
        サイドメニュー
    ==================== */
    .side__container p {
        font-size: 1.5rem;
    }
    .side__container a {
        width: 200px;
        font-size: 1.5rem;
    }

    /* ====================
        メッセージ送信
    ==================== */
    .message-send__wrapper form {
        padding: 10px 60px;
    }
    .message-send__wrapper form .message {
        width: 80%;
    }

    /* ファイル選択 */
    .file__label {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 1200px) {
    /* サイドメニュー */
    .side__container p {
        font-size: 1rem;
    }
    .side__container a {
        width: 130px;
        font-size: 1rem;
    }

    /* チャット相手情報 */
    .chat-partner__wrapper .info img {
        width: 50px;
        height: 50px;
    }
    .chat-partner__wrapper .info p {
        font-size: 1.5rem;
    }
    .chat-partner__wrapper .button a {
        padding: 7px 15px;
    }

    /* 受信メッセージ */
    .receiver__wrapper .user-info img {
        width: 30px;
        height: 30px;
    }
    .receiver__wrapper .message {
        width: 300px;
        height: 40px;
        padding-inline: 10px;
        padding-block: 5px;
    }

    /* 送信メッセージ */
    .sender__wrapper .user-info img {
        width: 30px;
        height: 30px;
    }
    .sender__wrapper .message {
        width: 300px;
        height: 40px;
        padding-inline: 10px;
        padding-block: 5px;
    }

    /* ====================
        メッセージ送信
    ==================== */
    .message-send__wrapper form {
        padding: 10px 60px;
    }
    .message-send__wrapper form button {
        width: 7%;
    }
    .message-send__wrapper form .message {
        width: 70%;
    }

    /* ファイル選択 */
    .file__label {
        font-size: 0.9rem;
    }

    /* ====================
        モーダルウィンドウ
    ==================== */
    .modal__container {
        width: 400px;
    }
    .modal__container h2 {
        font-size: 1.5rem;
    }
    .modal__container .evaluation p{
        font-size: 1rem;
    }

    /* 評価（星） */
    .star-rating label {
        font-size: 3rem;
    }
}

@media screen and (max-width: 768px) {
    /* ====================
        サイドメニュー
    ==================== */
    .side__container p {
        font-size: 0.8rem;
    }
    .side__container a {
        width: 80px;
        font-size: 0.8rem;
    }

    .message-list__wrapper {
        padding: 10px 20px;
    }

    /* チャット相手情報 */
    .chat-partner__wrapper {
        padding: 10px 20px;
    }
    .chat-partner__wrapper .info img {
        width: 30px;
        height: 30px;
    }
    .chat-partner__wrapper .info p {
        font-size: 1rem;
    }
    .chat-partner__wrapper .button a {
        font-size: 0.7rem;
        padding: 5px 10px;
    }

    /* 商品情報 */
    .product__wrapper {
        padding: 10px 20px;
    }
    .product__wrapper img {
        width: 150px;
        height: 150px;
    }
    .product__wrapper .info .name {
        font-size: 2rem;
    }
    .product__wrapper .info .price {
        font-size: 1rem;
    }

    /* ====================
        メッセージ送信
    ==================== */
    .message-send__wrapper form {
        padding: 10px 20px;
    }
    .message-send__wrapper form button {
        width: 10%;
    }
    .message-send__wrapper form .message {
        width: 60%;
    }

    /* ファイル選択 */
    .file__label {
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 480px) {
    /* ====================
        サイドメニュー
    ==================== */
    .side__container p {
        font-size: 0.5rem;
    }
    .side__container a {
        width: 60px;
        font-size: 0.5rem;
    }

    /* チャット相手情報 */
    .chat-partner__wrapper .info p {
        font-size: 0.7rem;
    }

    /* 商品情報 */
    .product__wrapper img {
        width: 100px;
        height: 100px;
    }
    .product__wrapper .info .name {
        font-size: 1.5rem;
    }

    /* 受信メッセージ */
    .receiver__wrapper .user-info img {
        width: 30px;
        height: 30px;
    }
    .receiver__wrapper .message {
        width: 200px;
        height: 40px;
        padding-inline: 10px;
        padding-block: 5px;
    }

    /* 送信メッセージ */
    .sender__wrapper .user-info img {
        width: 30px;
        height: 30px;
    }
    .sender__wrapper .message {
        width: 200px;
        height: 40px;
        padding-inline: 10px;
        padding-block: 5px;
    }

    /* ====================
        メッセージ送信
    ==================== */
    .message-send__wrapper form button {
        width: 10%;
    }
    .message-send__wrapper form .message {
        width: 60%;
    }

    /* ファイル選択 */
    .file__label {
        font-size: 0.5rem;
    }

    /* ====================
        モーダルウィンドウ
    ==================== */
    .modal__container {
        width: 300px;
    }
}