.profile__container {
    margin: 0 auto;
}
.profile__ttl p{
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 50px;
}

.form {
    max-width: 680px;
    margin: 0 auto;
}
.form__item {
    margin-bottom: 40px;
}

.profile__image{
    display: flex;
    align-items: center;
    gap: 50px;
}
.profile__image img{
    width: 150px;
    height: 150px;
    vertical-align: middle;
    text-align: center;
    background-color: rgba(217, 217, 217, 1);
    border-radius: 100px;
    object-fit: cover;
}
.profile__image input::file-selector-button{
    font-size: 1rem;
    color: rgba(255, 85, 85, 1);
    background-color: rgba(255, 255, 255, 1);
    border: 2px solid rgba(255, 85, 85, 1);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.25s;
    padding: 5px 10px;
}
.profile__image input::file-selector-button:hover{
    font-size: 1rem;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 85, 85, 1);
    border: 2px solid rgba(255, 85, 85, 1);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.25s;
    padding: 5px 10px;
}

.item__name {
    font-size: 1rem;
    font-weight: bold;
    margin: 0 auto;
}
.item__input {
    width: 100%;
    border: 1px solid rgba(95, 95, 95, 1);
    border-radius: 5px;
    padding: 1.5%;
}

.button__unit {
    margin-top: 60px;
    margin-bottom: 30px;
}

.form__button {
    width: 100%;
    border: 1px solid rgba(255, 85, 85, 1);
    border-radius: 5px;
    background-color: rgba(255, 85, 85, 1);
    color: rgba(255, 255, 255, 1);
    transition: 0.5s;
    padding-block: 1.5%;
    margin-top: 20px;
    margin-bottom: 30px;
}
.form__button:hover {
    width: 100%;
    border: 1px solid rgba(255, 85, 85, 1);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 1);
    padding-block: 1.5%;
}

.form__error {
    color: rgba(255, 0, 0, 1);
}

@media screen and (max-width: 850px) {
    .profile__ttl p{
        font-size: 2rem;
    }

    .profile__image {
        gap: 20px;
    }
    .profile__image img {
        width: 100px;
        height: 100px;
    }
    .profile__image input::file-selector-button {
        font-size: 0.7rem;
        padding: 3px 7px;
    }
    .profile__image input::file-selector-button:hover {
        font-size: 0.7rem;
        padding: 3px 7px;
    }

    .form {
        max-width: 400px;
    }
    .form__item {
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 480px) {
    .profile__ttl p {
        font-size: 1.5rem;
    }

    .profile__image {
        display: block;
        align-items: center;
        text-align: center;
    }
    .profile__image img {
        width: 70px;
        height: 70px;
        margin-bottom: 10px;
    }
    .profile__image input::file-selector-button {
        font-size: 0.6rem;
        padding: 2px 7px;
    }
    .profile__image input::file-selector-button:hover {
        font-size: 0.6rem;
        padding: 2px 7px;
    }

    .form {
        max-width: 200px;
        margin: 0 auto;
    }
    .form__item {
        margin-bottom: 20px;
    }

    .item__name {
        font-size: 0.5rem;
        font-weight: bold;
        margin: 0 auto;
    }
}
