/* 購入画面 */
.purchase__container{
    max-width: 1400px;
    margin: 70px auto;
}
.form{
    display: flex;
}

/* 購入画面の左 */
.left__wrapper{
    width: 800px;
    padding-inline: 50px;
    margin: 0 auto;
}
/* 左側の上のコンテンツ */
.top__item{
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    padding-bottom: 40px;
}
.top-item__image img{
    width: 180px;
    height: auto;
}
.top-item__info
{
    padding-left: 50px;
}
.info__name, .info__price{
    font-size: 2rem;
}
.info__name{
    font-weight: bold;
}

/* 左側の真ん中のコンテンツ */
.center__item{
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    padding: 20px 0px 40px 30px;
}
.center-item__name{
    font-size: 1.25rem;
    font-weight: bold;
}
.center-item__select{
    width: 265px;
    margin-left: 40px;
}
.center-item__select option{
    color: rgba(234, 234, 234, 1);
    background-color: rgb(54, 54, 54, 1);
}

/* 左側の下のコンテンツ */
.under__item{
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    padding: 20px 30px 40px 30px;
}
.under-item__ttl{
    display: flex;
    justify-content: space-between;
}
.under-item__name{
    font-size: 1.25rem;
    font-weight: bold;
}
.under-item__post-code, .under-item__address{
    display: block;
    outline: none;
    border: none;
    margin-left: 40px;
    margin-bottom: 0;
}
.under-item__button{
    color: rgb(0, 120, 255, 1);
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
}
.under-item__button:hover{
    color: rgb(0, 80, 170, 1);
    text-decoration: underline;
    outline: none;
}

/* 右側のコンテンツ */
.right__wrapper{
    width: 600px;
    padding-inline: 50px;
    margin: 0 auto;
}
/* テーブル */
.right-item__table{
    margin: 0 auto;
    width: 100%;
}
.right-item__table tr{
    border: 1px solid rgba(0, 0, 0, 1);
    font-size: 1.5rem;
}
.right-item__table tr td{
    text-align: center;
    padding: 30px 30px;
}
/* ボタン */
.right-item__button {
    width: 100%;
    font-size: 1rem;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 85, 85, 1);
    border: 2px solid rgba(255, 85, 85, 1);
    border-radius: 5px;
    transition: 0.25s;
    padding: 10px;
    margin-top: 50px;
}
.right-item__button:hover {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 1);
    border: 2px solid rgba(255, 85, 85, 1);
}

.form__error{
    color: red;
}

@media screen and (max-width: 1200px) {
    /* 購入画面 */
    .purchase__container {
        max-width: 800px;
        margin: 70px auto;
    }
    .form {
        display: block;
    }
    /* 購入画面の左 */
    .left__wrapper {
        width: 700px;
        margin: 0 auto;
    }
    /* 右側のコンテンツ */
    .right__wrapper {
        width: 700px;
        margin: 50px auto;
    }
}

@media screen and (max-width: 850px) {
    /* 購入画面 */
    .purchase__container {
        max-width: 480px;
        margin: 70px auto;
    }
    /* 購入画面の左 */
    .left__wrapper {
        width: 400px;
        padding-inline: 0;
        margin: 0 auto;
    }
    .top__item {
        display: block;
        border-bottom: 1px solid rgba(0, 0, 0, 1);
        padding-bottom: 10px;
    }
    .top-item__image{
        background-color: rgba(217, 217, 217, 1);
        text-align: center;
    }
    .top-item__image img {
        width: 200px;
        height: auto;
        object-fit: contain;
    }
    .top-item__info {
        padding-left: 0px;
        margin-top: 30px;
    }
    .info__name, .info__price {
        font-size: 1.5rem;
    }
    /* 左側の真ん中のコンテンツ */
    .center__item {
        border-bottom: 1px solid rgba(0, 0, 0, 1);
        padding: 20px 0 20px 0;
    }
    .center-item__select {
        width: 260px;
        margin: 0 70px;
    }
    /* 左側の下のコンテンツ */
    .under__item {
        border-bottom: 1px solid rgba(0, 0, 0, 1);
        padding: 20px 0px 20px 0px;
    }
    .under-item__name {
        font-size: 1.25rem;
        font-weight: bold;
    }
    .under-item__post-code, .under-item__address {
        margin: 0 70px;
    }

    /* 右側のコンテンツ */
    .right__wrapper {
        width: 400px;
        padding-inline: 0;
        margin: 0 auto;
    }
    /* テーブル */
    .right-item__table {
        margin: 30px auto;
        width: 100%;
    }
    .right-item__table tr {
        border: 1px solid rgba(0, 0, 0, 1);
        font-size: 1.5rem;
    }
    .right-item__table tr td {
        text-align: center;
        padding: 30px 0;
    }
}

@media screen and (max-width: 480px) {
    /* 購入画面 */
    .purchase__container {
        max-width: 350px;
    }

    /* 購入画面の左 */
    .left__wrapper {
        width: 300px;
    }
    .info__name, .info__price {
        font-size: 1.1rem;
    }

    /* 左側の真ん中のコンテンツ */
    .center__item {
        border-bottom: 1px solid rgba(0, 0, 0, 1);
        padding: 20px 0 20px 0;
    }
    .center-item__name {
        font-size: 1.1rem;
        font-weight: bold;
    }
    .center-item__select {
        width: 200px;
        margin: 0 50px;
    }

    /* 左側の下のコンテンツ */
    .under__item {
        border-bottom: 1px solid rgba(0, 0, 0, 1);
        padding: 20px 0px 20px 0px;
    }
    .under-item__name {
        font-size: 1.1rem;
        font-weight: bold;
    }
    .under-item__post-code, .under-item__address {
        font-size: 0.8rem;
        margin: 0 50px;
    }

    /* 右側のコンテンツ */
    .right__wrapper {
        width: 300px;
        padding-inline: 0;
        margin: 0 auto;
    }

    /* テーブル */
    .right-item__table {
        margin: 30px auto;
        width: 100%;
    }
    .right-item__table tr {
        border: 1px solid rgba(0, 0, 0, 1);
        font-size: 1.2rem;
    }
    .right-item__table tr td {
        text-align: center;
        padding: 20px 0;
    }
}