.register__container{
    margin: 0 auto;
}

.register__ttl{
    text-align: center;
    font-size: 1rem;
    margin-top: 50px;
}

.form{
    max-width: 680px;
    margin: 0 auto;
}

.form__unit{
    width: 100%;
    margin-bottom: 50px;
}

.form__item{
    margin-bottom: 30px;
}

.item__name{
    font-size: 1rem;
    font-weight: bold;
    margin: 0 auto;
}

.item__input{
    width: 100%;
    border: 1px solid rgba(95, 95, 95, 1);
    border-radius: 5px;
    padding: 1.5%;
}

.button__unit{
    margin-top: 60px;
    margin-bottom: 30px;
}

.form__button, .form__link{
    display: block;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 20px;
}

.form__button{
    width: 100%;
    border: 1px solid rgba(255, 85, 85, 1);
    border-radius: 5px;
    background-color: rgba(255, 85, 85, 1);
    color: rgba(255, 255, 255, 1);
    transition: 0.5s;
    padding-block: 1.5%;
}

.form__button:hover{
    width: 100%;
    border: 1px solid rgba(255, 85, 85, 1);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 1);
    padding-block: 1.5%;
}

.form__link{
    color: rgba(0, 115, 204, 1);
    text-decoration: none;
}

.form__link:hover{
    color: rgba(0, 115, 204, 1);
    text-decoration: underline;
}

